<!DOCTYPE html>
<html lang="en">
  <footer role="contentinfo" class="ui-section-footer">
    <div class="ui-layout-container">
      <div class="ui-section-footer__layout ui-layout-flex">
        <!-- COPYRIGHT -->
        <p class="ui-section-footer--copyright ui-text-note"><small>&copy; YY</small></p>
        <!-- MENU -->
        <nav role="navigation" class="ui-section-footer--nav ui-section-footer--menu ui-layout-flex">
          <a href="https://www.instagram.com/tuitui_artspace/?hl=en" role="link" aria-label="#" class="ui-text-note"><small>TUITUI ART SPACE</small></a>
        </nav>
        <!-- SOCIAL -->
        <nav role="navigation" class="ui-section-footer--nav ui-section-footer--social ui-layout-flex">
          <a href="https://www.instagram.com/rand_usr/" role="link" aria-label="#">
            <svg viewBox="0 0 24 24" height="16" width="16" fill="none" stroke="#AEAEAE" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" aria-label="#">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"/>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zM17.5 6.5h.01"/>
            </svg>
          </a>
        </nav>
      </div>
    </div>
  </footer>
</html>


