<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- PERFORMANCE -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="preload" as="style" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- TITLE -->
    <title>seeing</title>
    <style>
    #camera-container {
        margin: 0px auto;
        width: 100%;
    }
    #img-container {
        margin: 0px auto;
        height: 100%;
    }
    </style>
  </head>
  <body>
    {% block header %}{% endblock %}
    <main role="main">
      <img class="img-container" style="padding-bottom:20%;" id="curr-eye-img">
        <source src="static/img/close.png" style=width:50%;bottom:100px;>
      </img>
      <!-- video from camera-->
<!--
      <div id="camera-container">
        <video autoplay="true" id="video-in" height="720" width="1280" style=width:100%;>
        </video>
      </div>
-->
      <div id="camera-container">
        <canvas id = "video-out" height="720" width="1280" style=width:100%;></canvas>
      </div>

      <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script async type="text/javascript" src="static/js/util.js"> </script>
      <script async src="static/js/opencv.js" onload="onOpenCvReady();" type="text/javascript"></script>    
    </main>
    {% block footer %}{% endblock %}
  </body>
</html>