<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- PERFORMANCE -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="preload" as="style" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- TITLE -->
    <title>seeing</title>
    <style>
    #camera-container {
        margin: 0px auto;
        width: 100%;
    }face_detection
      
    #img-container {
        margin: 0px auto;
        height: 100%;
    }
    </style>
  </head>
  <body>
    {% block header %}{% endblock %}
    <main role="main">
      <div class="img-container" style="padding-bottom:20%;">
        <img src="{{ url_for('img_feed') }}" class="ui-section-hero--image" style=width:50%;bottom:100px;>
      </div>
      <!-- CAMERA -->
      <div class="camera-container">
        <img src="{{ url_for('video_feed') }}" width="100%">
      </div>
    </main>
    {% block footer %}{% endblock %}
  </body>
</html>