<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- PERFORMANCE -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="preload" as="style" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- TITLE -->
    <title>seeing</title>
    <style>
    #camera-container {
        margin: 0px auto;
        width: 100%;
        height: 100%;
    }
    #video-element {
        width: 100%;
        height: 100%;
        background-color: #ddd;
    }
    </style>
  </head>
  <body>
    {% block header %}{% endblock %}
    <main role="main">
      <!-- CAMERA -->
      <div id="camera-container">
        <video autoplay="true" id="video-element">
        </video>
      </div>
      <script>
      var video = document.querySelector("#video-element");

      if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
          .then(function (stream) {
            video.srcObject = stream;
          })
          .catch(function (error) {
            console.log("Something went wrong!");
          });
      }
      </script>
<!-- EXAMPLE
    <input type="button" id='script' name="scriptbutton" value=" Run Script " onclick="goPython()">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script>
        function goPython(){
            $.ajax({
             context: document.body
            }).done(function() {
             alert('wow');
             goSecond();
            });
        }
        function goSecond(){
            $.ajax({
             context: document.body
            }).done(function() {
             alert('hi');
            });
        }
    </script>
-->
    </main>
    {% block footer %}{% endblock %}
  </body>
</html>