<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- PERFORMANCE -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="preload" as="style" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- TITLE -->
    <title>whitehole</title>
  </head>
  <body>
    {% block header %}{% endblock %}
    <main role="main">
    </main>
    {% block footer %}{% endblock %}
  </body>
</html>